.article {
    .collapsible-block__button {
        &:hover {
            text-decoration: none;
        }

        color: inherit;
    }
}

.article-header {
    align-items: baseline;
    font-size: 1em;

    .article-header-group{
        display: inline-flex;
        align-items: baseline;
        white-space: nowrap;
        position: relative;
    }

    .article-number {
        margin-right: 40px;
        min-width: 60px;
        font-weight: bold;
    }
    
    .article-date {
        margin-right: 40px;
        min-width: 100px;
        font-weight: bold;
    }
    
    .article-title {
        font-size: 1em;
        font-weight: bold;
        white-space: break-spaces;
        display: inline-flex;
        align-items: flex-start;
        word-wrap: break-word;
        width: 100%;
    }
}

.article-body {
    margin-top: 10px;
    font-size: 1em;
    color: #333333;
}

.green-text {
    .article-number {
        color: green;
    }
    
    .article-date {
        color: green;
    }
    
    .article-title {
        color: green;
    }

    .collapsible-block__content {
        color: green;
    }
}

.article-header .crossed-out-text .article-header-group {
    color: red; /* Color of the crossed out text */
}

.article-header .crossed-out-text .article-header-group::after {
    content: '';
    position: absolute;
    top: 50%; /* Center the crossed out line */
    height: 1px; /* Height of the line */
    background-color: red; /* Color of the crossed out text */
    transform: translateY(-50%); /* Center verticaly */
    width: 100%; /* Take all the width of the container */
    z-index: -1; /* Put the line behind the other elements */
}

/* Specific class for title to allow this part to be crossed out on multiple lines */
.article-header .crossed-out-text .article-title {
    color: red;
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    text-decoration-color: red;
    text-decoration-skip-ink: none;
}