{{ $class := .Get "class" | default "" }}
{{ $headerClass := .Get "headerClass" | default "" }}
{{ $bodyClass := .Get "bodyClass" | default "" }}
{{ $number := .Get "number" }}
{{ $numberColor := .Get "numberColor" | default "green" }}
{{ $removed := .Get "removed" | default "false" }}
{{ $date := .Get "date" | default "" }}
{{ $title := .Get "title" }}
{{ $groupId := .Get "groupId" | default "" }}
{{ $buttonClass := "" }}
{{ if eq $removed "true" }}
  {{ $buttonClass = "crossed-out-text" }}
  {{ $numberColor = "red" }}
{{ end }}


<div
  class="article collapsible-block {{ $class }}"
  group-id="{{ $groupId }}"
  collapsed-text=""
  expanded-text=""
>
  <span class="d-flex justify-content-start article-header {{ $headerClass }}">
    <i class="collapsible-block__icon fas"></i>

    <button
      type="button"
      class="d-flex justify-content-start collapsible-block__button {{ $buttonClass }}"
    >
      <span class="article-number" style="color: {{ $numberColor }};"
        >{{ $number }}
      </span>
      {{ with $date }}
        <span class="article-date">{{ . }}</span>
      {{ end }}
      <span class="article-title">{{ $title }}</span>
    </button>
  </span>
  <div class="article-body collapsible-block__content {{ $bodyClass }}">
    {{ .Inner }}
  </div>
</div>
